<!doctype html>
<html  lang="en">

<head>
  <meta charset="utf-8">
  <title>PwC WebConf Latam 2021</title>

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='logo192.png') }}"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Example App is a Full Stack Python Web App"/>  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  

  <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="app"></div>
  
</body>

</html>